# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\mathew\projekte\womat\smartfox\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# Dependency directories (remove the comment below to include it)
# vendor/

/misc.xml
/modules.xml
/smartfox.iml
/vcs.xml
